@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header {
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url("http://static.phalconphp.com/zephir/tumblr_static_paintedargyle.png");
    text-align: center;
    color: #ffffff;
    margin-bottom: 55px;
}
.header .wrapper {
    padding-top: 25px;
    overflow: hidden;
}
#logo {
    display: block;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 50%;
    margin-left: -78px;
    top: 312px;
}
.logotype {
    border-radius: 50%;
    background-color: #f6f6f6;
    border: 5px solid #f6f6f6;
}
.logotype:hover {
    border-color: #269abc;
}

.buttons {
    margin: 25px auto;
    overflow: hidden;
    width: 470px;
}
.buttons a {
    float: left;
    padding-left: 20px;
    color: snow;
}
.buttons a:hover {
    color: #269abc;
}

.latest-info {
    background-color: #ffffff;
    overflow: hidden;
    width: 634px;
    margin: 32px auto;
    color: #000000;
    text-align: left;
    padding: 15px 20px;
}
.latest-info .block {
    float: left;
    margin-right: 20px;
}
.latest-info .block span {
    float: left;
    width: 60px;
    padding-right: 10px;
}
.latest-info .block a {
    line-height: 43px;
    float: left;
}

.star-button {
    float: right;
    margin-top: 6px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

/**
 * Emulate bt grid
 */
.row {
    width: 100%;
    overflow: hidden;
}
.col-md-4 {
    width: 25%;
    float: left;
}
.col-sm-2 {
    width: 16.6%;
    float: left;
}

.friends {
    width: 600px;
    margin: 0 auto;
}
.friends .block {
    width: 250px;
    float: left;
    margin-right: 50px;
    min-height: 100px;
}

.team .row .photo {
    float: left;
    padding-right: 15px;
}
.team .row .text {
    float: left;
    width: 700px;
}
.team .row img {
    width: 150px;
    float: left;
}
.team .row .member {
    float: left;
    width: 100%;
    font-size: 21px;
    color: #000000;
}

.team .row .member:hover {
    color: #269abc;
}

.team .row {
    margin-bottom: 20px;
}

.watch-row {
    background-color: #000000;
    width: 100%;
    padding: 15px 0;
}

.goals i {
    font-size: 90px;
    color: #269abc;
}

footer {
    width: 100%;
    background-color: #1e272e;
    padding: 60px 0 80px;
    overflow: hidden;
}

footer h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    padding: 3px 0;
}

footer ul li a {
    font-size: 13px;
    color: #6d7481;
}

footer .license {
    padding: 30px 0 0 90px;
    color: #6d7481;
    font-size: 12px;
    line-height: 18px;
}

footer .license a {
    color: #6d7481;
    border-bottom: 1px dotted #6d7481;
}