<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>{{ title | translate }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/dist/all.css" media="screen" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script>var appLang = "{{ lang | translate }}"</script>
    <script src="/dist/app.js"></script>
</head>
<body ng-controller="mainController" class="lang-{{ lang | translate }}">

    <div class="header">

        <ul class="lang-buttons">
            <li><a href="/langs/fr/">Fr</a></li>
            <li><a href="/langs/en/">En</a></li>
        </ul>

        <div class="row wrapper small-8 large-12 columns center-block">
            <h1>Zephir Language</h1>
            <span>{{ header.zephir_description | translate }}</span>

            <div class="buttons small-12 large-10 medium-10 center-block">
                <a href="/">{{ header.menu.home | translate }}</a>
                <a href="/get-started">{{ header.menu.get_started | translate }}</a>
                <a href="/online">{{ header.menu.try_it_online | translate }}</a>
                <a href="http://docs.zephir-lang.com/">{{ header.menu.docs | translate }}</a>
                <a href="/team">{{ header.menu.team | translate }}</a>
                <a href="https://pledgie.com/campaigns/27405?" target="_blank">{{ header.menu.donate | translate }}</a>
            </div>

            <div class="latest-info large-offset-2 large-8">
                <div class="block large-3">
                        <span>
                            {{ header.latest_stable | translate }}
                        </span>
                    <a href="{{ latestRelease.url }}" target="_blank">{{ latestRelease.tag_name }}</a>
                </div>
                <div class="block large-5">
                        <span>
                            {{ header.latest_nightly | translate }}
                        </span>
                    <a href="#">0.5.9a #ee96c7</a>
                </div>

                <iframe src="http://ghbtns.com/github-btn.html?user=phalcon&repo=zephir&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px" class="star-button large-4"></iframe>
            </div>
        </div>

        <a href="/" id="logo">
            <img src="http://static.phalconphp.com/zephir/logo.png" alt="" class="logotype">
        </a>
    </div>

    <div ng-view></div>


    <footer>
        <div class="row">
            <div class="large-2 medium-4 small-6 columns">
                <h4>{{ footer.download | translate }}</h4>
                <ul>
                    <li><a href="/get-started">{{ footer.installing | translate }}</a></li>
                    <li><a href="http://docs.zephir-lang.com/">{{ footer.documentation | translate }}</a></li>
                    <li><a href="https://raw.githubusercontent.com/phalcon/zephir/master/LICENSE">{{ footer.license | translate }}</a></li>
                </ul>
            </div>
            <div class="large-2 medium-4 small-6 columns">
                <h4>{{ footer.community | translate }}</h4>
                <ul>
                    <li><a href="http://forum.zephir-lang.com/">{{ footer.forum | translate }}</a></li>
                    <li><a href="https://github.com/phalcon/zephir">{{ footer.github | translate }}</a></li>
                    <li><a href="https://github.com/phalcon/zephir/issues">{{ footer.issue_tracker | translate }}</a></li>
                </ul>
            </div>
            <div class="large-2 medium-4 small-8 columns">
                <h4>{{ footer.about | translate }}</h4>
                <ul>
                    <li><a href="http://blog.zephir-lang.com/">{{ footer.blog | translate }}</a></li>
                    <li><a href="/team">{{ footer.our_team | translate }}</a></li>
                </ul>
            </div>
            <div class="large-5 large-offset-1 columns">
                <p class="license">
                    {{ footer.license_description | translate }} <br>
                    <a href="https://raw.githubusercontent.com/phalcon/zephir/master/LICENSE" target="_blank">{{ footer.mit_license | translate }}</a>.
                </p>
            </div>
        </div>
    </footer>


</body>
</html>